<!DOCTYPE HTML>
<html>
<head>
  <h1> Books </h1>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <p> Book Title: {{title}} </p>
  <p> Author: {{author}} </p>
  <p> Publication Year: {{year}} </p>
  <p> ISBN Number: {{isbn}} </p>
  <p> Number of Ratings: {{ratings}} </p>
  <p> Average Rating: {{rating}} </p>
  <form action = "{{url_for('reviewBook')}}" method = "post" >
    <input type = "number" name = "rating" placeholder = "Rate Book out of 5">
    <input type = "text" name = "review" placeholder = "Submit a review of the book">
    <button> Submit Review </button>
  </form>
  <ul>
    {% for rev in ratingsList %}
      <li> {{rev}} </li>
    {%endfor%}
  </ul>
</body>
</html>
